* {
  margin: 0px;
  box-sizing: border-box;
}
h3 {
  color: white;
  position: relative;
  top: 60px;
  right: 150px;
}
.container {
  background-image: url("images/1.jpg");
  min-height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  color: white;
  position: relative;
  width: 700px;
  left: 450px;
  margin-bottom: 10px;
}
.container a {
  color: rgb(235, 222, 222);
  text-decoration: none;
  border: rgb(248, 248, 248) 1px solid;
  border-radius: 25px;
  padding: 20px;
  width: 150px;
  text-align: center;
  font-weight: bold;
  position: relative;
  top: 140px;
  right: 600px;
}
a:hover {
  background: rgba(12, 12, 226, 0.918);
}
.container2 {
  background-color: rgba(247, 34, 6, 0.904);
  text-align: center;
  padding: 20px;
  color: white;
}
.container3 {
  background-color: rgba(0, 17, 255, 0.904);
  text-align: center;
  padding: 20px;
}
.container0 {
  display: flex;
}
.flex_item1 {
  background-color: rgba(247, 34, 6, 0.904);
  text-align: center;
  padding: 20px;
}
.flex_item3 {
  background-color: rgba(247, 34, 6, 0.904);
  text-align: center;
  padding: 20px;
}
.flex_item2 {
  background-color: rgba(0, 17, 255, 0.904);
  text-align: center;
  padding: 20px;
}
